<% @creatures.each do |creature| %>
<div>
	Name: <%= creature.name %><br>
	Description: <%= creature.description %>
  <h2> <%= creature.name %> </h2>
  <p> <%= creature.description %></p>
  <%= button_to "Delete", creature, method: :delete %>
</div>
<% end %>
